.btn-default{
    background-color: #fff;
    border: 1px solid #bbb;
    /* box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.16); */
    min-width: 35px;
    padding: 0 5px;
    height: 26px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-default:hover{
    background-color: #0072bc;
    color: #fff;
}

.btn-noneBg {
    background-color: transparent !important;
    border: 1px solid #bbb !important;
    color: #111 !important;
    margin-right: 5px;
}