.m-combobox {
    position: relative;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
}

.m-inputc {
    box-sizing: border-box;
    height: 36px;
    color: #000;
    border-radius: 4px;
    border: 1px solid #bbb;
    outline: unset;
    padding: 0 16px;
    width: 100%;
    line-height: 36px;
    font-size: 13px;
    font-family: Tahoma1;
}

/* .m-inputc:focus {
    border-color: #019160 !important;
} */

.combobox__button {
    width: 36px;
    height: 36px;
    background-color: #fff;
    background-image: url(../../assets/Resource/Sprites.64af8f61.svg);
    background-position: -359px -351px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}

.combobox__button:focus-visible {
    outline: 1px solid #ddd;
}

.combobox__data {
    display: flex;
    position: absolute;
    /* top: 100%; */
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 6px #ccc;
    z-index: 19;
}

a.combobox__item {
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
}

.combobox__item {
    height: 36px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
}

.combobox__item:hover {
    background-color: #39AC66;
    color: #EFF2F4;
}

.item--selected {
    background-color: #39AC66;
    color: #EFF2F4;
}

/* Thông báo lỗi */

.error-selecbox-alert {
    z-index: 17;
    position: absolute;
    background-color: #ff7777;
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 4px;
    top: calc(100% + 2px);
    min-width: 200px;
    max-width: 300px;
    left: calc(50%);
    transform: translateX(-50%);
}

.error-selecbox-arrow {
    position: absolute;
    background-color: #ff7777;
    bottom: calc(100% - 6px);
    left: calc(50% - 4px);
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    /* transform: translateX(-50%); */
    z-index: 1;
}

.select-box-title {
    position: sticky;
    top: 0;
    background-color: #eceef1 !important;
    /* font-weight: 600; */
}

.selecbox-show-list-item {
    text-align: left;
    padding: 0 10px;
}

.error-selecbox-content {
    position: relative;
    z-index: 1;
}

.border-green {
    border: 1px solid #019160;
    border-radius: 4px;
}

/**/


.select-box {
    width: 200px;
    position: relative;
}

.select-box-select {
    display: flex;
    height: 36px;
    /* width: 200px; */
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 4px;
    position: relative;
}


.select-box-input {
    box-sizing: border-box;
    height: 30px;
    align-items: center;
    color: #000;
    /* border-radius: 4px 0 0 4px; */
    border: 1px solid #bbb;
    outline: unset;
    padding: 0 16px;
    width: 100px;
    line-height: 36px;
    font-size: 13px;
    font-family: Tahoma1;
    padding-right: 8px;
}

.select-box-input:focus {
    border-color: #0072bc !important;
}

.select-box-icon {
    top: 10px;
    left: 75px;
    height: 16px;
    width: 16px;
    background-position: -560px -359px;
    background-image: url(../../assets/Resource/Sprites.64af8f61.svg);
    margin: 0 auto;
    border: unset;
    position: absolute;
}

.select-box-iconc {
    height: 16px;
    width: 16px;
    background-position: -560px -359px;
    background-image: url(../../assets/Resource/Sprites.64af8f61.svg);
    margin: 0 auto;
    border: unset;
}

.select-box-select button {
    border: 1px solid #4c4b4b;
    /* border-radius: 0 4px 4px 0; */
    border: unset;
    height: 36px;
}

.selectbox__data {
    width: 200px;
    height: 180px;
    position: absolute;
    top: -185px;
    background-color: #1092c9;
    border-radius: 2px;
    flex-direction: column;
    width: 100%;
    box-shadow: -3px 0px 3px rgba(141, 134, 134, 0.5),
        3px 0px 3px rgba(124, 121, 121, 0.5),
        0px 3px 3px rgba(124, 121, 121, 0.5);

}

.selectbox__data__down {
    width: 150px;
    height: 120px;
    position: absolute;
    top: -185px;
    background-color: #019160;
    border-radius: 2px;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 6px #ccc;
}

a.selectbox__item {
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
}

.selectbox__item {
    height: 36px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.selectbox__item:hover {
    background-color: #8ecffa;
    color: #1c1d1f;
}

.item--selectedbox {
    background-color: #52a2d7;
    color: #1c1d1f;
}