.material_function {
    background-color: #eaeaec;
    padding: 3px 3px;
    height: 29px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(203, 203, 203);
    border-left: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
    border-bottom: 1px solid rgb(203, 203, 203);

}
.table{
    width: 100%;
    height: calc(100vh - 60px - 52px);
    flex: 1;
    z-index: 1;
}

.table__content {   
    width: 100%;
    height: calc(100% - 71px);
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 2;
    border-top: 1px solid rgb(203, 203, 203);;
    
}

.m-table {
    /* height: 100%; */
    border: 1px solid #bbb;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    /* border: none; */
    overflow-y: auto;
    /* z-index: 3; */
}

.m-table thead {
    position: sticky;
    top: 0;
    height: 36px;
    z-index: 1;
    background-color: #eaeaec;
}

.m-table tbody{
    /* height: calc(100vh - 252px ); */
    /* height: calc(100vh - 60px - 60px ); */
    border: 1px solid #bbb;
    padding-bottom: 10px;
}

.m-table tr {
    border-bottom: 1px solid #BBBBBB;
    height: 30px;
}
.m-table tbody .row-selected {
    background-color: #e5f3ff;
}
.m-table tr td,
th {
    padding-left: 16px;
    padding-right: 10px;
}

.m-table .text-align-left {
    text-align: left;
}

.m-table .text-align-right {
    text-align: right;
}

.m-table .text-align-center {
    margin: 0 auto;
    text-align: center;
}

.m-table tbody tr:hover {
    background-color: #E9EBEE;
}

.m-table tbody tr.m-row-selected {
    background-color: #E3F3EE;
}
.checkbox_table_status{
    display: inline
}

.table__paging {
    width: 100%;
    height: 36px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notFound{
    width: 100%;
    position: relative;
    height: calc(100vh - 260px);
}

.notFound img{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.notFound p{
    position: absolute;
    top: 90%;
    left: 40%;
    font-size: 20px;
    color: white;
}